.dash-content-first {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 6px;
}

.no-hover {
  pointer-events: none;
}

.seller-page {
    display: flex;
}

.div-wrap-test {
    border: 2px solid black;
    width:85%;
    height: 30px;
    margin-top: 7px;
    padding-right: 8px;
}

.div-chart-outer {
    /* border: 2px solid black; */
    width: 80%;
    height: 50px;
    margin-top: 7px;
    padding: 8px 8px 8px 20px;
}

.div-container {
    display: inline-block;
    width: 62%;
    min-width: 500px;
    height: 35px;
    background-color: #6a5fdf;
    border-radius: 4px;
}

.div-chart {
    display: flex;
    float: left;
    box-sizing: border-box;
    min-width: 200px;
    margin-left: 10px;
    background-color: #6a5fdf;
    border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  width: 1077px;
  min-width: 700px;
  border-radius: 5px;
  background-color: #2196F3;
  padding: 10px;

}

.grid-container > div {
/*  background-color: rgba(255, 255, 255, 0.8); */
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 30px;
    padding-top: 18px;
    margin-right: 10px;
    max-height: 555px;
}

.bottom-table-wrap {
    position: relative;
    overflow-x: auto;
    border-radius: 5px;;
}

.bottom-table {
    width: 100%;
    font-size: small;
    text-align: center;
    color: #d0d2d6;
    text-transform: uppercase;
    border: 2px solid slategray;
}

.bottom-table-column {
    padding-inline: 3px;
    padding-block: 4px;
}

.bottom-table-tr{
    padding-inline: 3px;
    padding-block: 4px;
    font-size: medium;
    white-space: nowrap;
}

.dash-bottom-outer {
    width: 1090px;
    padding: 4px;
    background-color: #6a5fdf;
    border-radius: 5px;
    margin-top: 6px;;
}

.div-bottom-flex {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.h2-bottom {
    font-weight: 600;
    font-size: large;
    color: #d0d2d6;
    padding-bottom: 3px;
    padding-left: 8px;
}

.link-bottom {
    display: flex;
    font-weight: 500;
    font-size: small;
    color: #d0d2d6;
    padding-bottom: 3px;
    padding-right: 12px;
    align-items: center;
}


.item1 {
    background-color: #6a5fdf;
    border-radius: 5px;
}

.item2 {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #6a5fdf;
    justify-content: space-between;
}

.div-seller-msg {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;;
}

.recient-sellers {
    background-color: #6a5fdf;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
}

.recient-format {
    width: 160px;
    min-width: 160px;
    height: 20px;
}

.view-all-sellers {
    font-size: 16px;
    width: 64px;
    min-width: 64px;
    height: 20px;
}

.admin-link {
    float: left;
    align-content: center;
    margin: 4px 4px 0px 4px;
    color: wheat;
}

.time-since-sent {
    font-size: medium;
    float: right;
    margin: 6px 14px 5px 5px;
    color: wheat;
}

.chart-position {
    margin-top: 2px;
}

.admin-message {
    display: flex;
    color: lightblue;
    background-color: slategray;
    border-radius: 5px;
    font-size: medium;
    width: 280px;
    height: 24px;
    margin: 8px;
    padding-top: 4px;
    padding-left: 5px;
}

.dash-summary-cards {
    display: flex;
    overflow: hidden;
    height: 64px;
    width: 240px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
    gap: 20px;
    justify-content: space-around;
}

.card-BGColor-1 {
    background-color: #fae8e8;
}

.card-IconColor-1 {
    background-color: #fa0305;
}

.card-BGColor-2 {
    background-color: #fde2ff;
}

.card-IconColor-2 {
    background-color: #760077;
}

.card-BGColor-3 {
    background-color: #e9feea;
}

.card-IconColor-3 {
    background-color: #038000;
}

.card-BGColor-4 {
    background-color: #ecebff;
}

.card-IconColor-4 {
    background-color: #0200f8;
}

.sum-cards {
    display: flex;
    width: 265px;
    min-width: 0;
    overflow: hidden;;
    margin-left: 20px;
}

.dash-cards {
    display: flex;
    overflow: hidden;;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    color: #5c5a5a;
    gap: 14px;
}

.dash-title {
    display: flex;
    overflow: hidden;;
    height: 16px;
    margin-left: 12px;
    text-decoration: underline;
    font-weight: 650;
}

.dash-data {
    display: flex;
    overflow: hidden;;
    height: 16px;
    margin-left: 12px;   
    font-weight: 450;
    justify-content: center;
}

.sizeing {
    display: flex;
    margin-bottom: 1px;
    justify-content: center;
}

.admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 15px;
    object-fit: cover;
}

.card-seller-message {
    display: block;
    height: 70px;
    min-width: 385px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    align-content: center;
}

.admin-pic {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.admin-message-block {
    float: right;
    width: 300px;
    height: 65px;
    margin-right: 4px;
    margin-top: -64px;
    background-color: #444;
    border: 1px solid black;
    border-radius: 4px;
}

.img-small {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.seller-msg-icon {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 4px;
    margin-right: 12px;
    margin-left: 6px;
}

.img-icon {
  display: flex;
  width: 40px;
  height: 47px;
  justify-self: center;
  justify-items: right;
  border-radius: 44%;
}

.img-position-icon {
    display: flex;
    width: 40px;
    height: 24px;
    justify-self: center;
    align-self: center;
    color: wheat;
}

img-shape {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

.admin-button {
    margin-bottom: 15px;
    color: white;
}

.th-header-admin {
    font-size: 24px;
    margin-top: 10px;
    background-color: #6f68d1;
    color: white;
}
