
/* Visible by default (mobile/small screens) */
.mobile-only {
  display: none;
}

/* Hide when screen width is 1024px or larger */
@media screen and (max-width: 899px) {
  .mobile-only {
    display: flex;
  }
}

.category-add-popup {
    height: 60px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: -8px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #6a5fdf;
}

.category-text-style {
    margin: 2px 8px 0px 8px;
    font-size: 22px;
    font-weight: 500;
}

.category-btn-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 28px;
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: red;
}

/**************************/
/* Admin.css & Orders.css */
/**************************/

.your-div-class {
  margin: 8px; /* Consistent margin */
  box-sizing: border-box; /* Keeps padding/borders inside width */
  width: calc(100% - 16px); /* Optional: fills parent minus margins */
  overflow: auto; /* Required for resize to work */
}

.category-content-page {
    width: 100%;
    padding-right: 16px;
    max-height: 700px;
    float: right;
    background: lightblue;
}

.on-hover-row:hover {
    background-color:hsl(from rgb(179, 171, 184) h s 85%);
    width: 28px;
    height: 24px;;
    color: cornflowerblue;
    border-radius: 2px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.page-btn-ul {
    padding-right: 6px;
    margin-top: 14px;
}

thead th {
    border-bottom: 3px solid rgb(247, 210, 142);
}

.category-bottom-outer {
    padding: 4px;
    background-color: #6a5fdf;
    border-radius: 5px;
    margin-top: 6px;;
}

.category-form-box {
    display: flex;
    height: 338px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: dashed;
}

.category-img-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-button-div {
    height: 64px;
    width: auto;
    justify-items: center;
}

.category-button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 28px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: red;
}

.category-form-div {
    height: 100%;
}

.category-table-wrap {
    position: relative;
    overflow-x: auto;
    border-radius: 5px;

}

.category-table-column {
    height: 20px;
    width: 12px;
    padding-inline: 3px;
    padding-block: 4px;
    font-size: 16px;
}

.category-table-tr {
    width: 25%;
    justify-items: center;
    padding-inline: 3px;
    padding-block: 4px;
    font-size: medium;
    white-space: nowrap;
}

.category-bottom-table {    
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color: #d0d2d6;
    border: 2px solid slategray;
}

.category-cell {
    padding-right: 6px;
    margin-left: 6px;
}

.category-edit-icon {
    padding-right: 3px;
    padding-left: 6px;
}

.category-edit-icon:hover {
    cursor: pointer;
}

.category-color-red {
    color: red;
}

.category-color-yellow {
    color: yellow;
}

.category-center-div {
    width: 250px;
    text-align: center;
}

/*************/
/* Admin.css */
/*************/
.category-msg-icon {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 4px;
    margin-right: 12px;
    margin-left: 6px;
}

.category-content-first {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-left: 6px;
}

.category-chart-outer {
    display: flex;
    /* border: 2px solid black; */
    width: 1095px;
    height: 0px;
    margin-top: 7px;
    padding: 8px 8px 8px 20px;
}

.category-grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    /* grid-gap: 10px; */
    width: 1077px;
    height: 560px;
    min-width: 700px;
    min-height: 300px;
    border-radius: 5px;
    background-color: #2196F3;
    /* margin-top: 66px; */
    padding: 10px;
}

.category-grid-container > div {
    display: block;
    padding: 12px;
    margin-right: 10px;
    font-size: 18px;
    max-height: 533px;
}

.category-order-detail {
    display: block;
    width: 610px;
    padding-top: 4px;
    padding-left: 4px;
    background-color: #aaf;
    border-radius: 3px;
    border-bottom: 3px solid rgb(106, 163, 68);
    border-right: 3px solid rgb(106, 163, 68);
}

.item1 {
    background-color: #6a5fdf;
    border-radius: 5px;
}

.item2 {
    background-color: #6a5fdf;
    border-radius: 5px;
}

.div-seller-msg {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;;
}


/**************/
/* Orders.css */
/**************/
.category-div-outer {
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-radius: 5px;
    background-color: cornflowerblue;
}

.category-select {
    align-items: center;
    width: 60px;
    height: 28px;
    margin-bottom: 1px;
    background-color: #e7e7e7;
    outline: none;
    border-color: #555;
    border-width: 1px;
    border-radius: 3px;
    color: #154095;
    margin: 8px 0px 18px 8px;
}

.category-search {
    float: right;
    width: 168px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: 575;
    outline: none;
    background-color: #e7e7e7;
    color: #154095;
    margin: 8px 8px 18px 0px;
}

.category-div {
    display: flex;
    justify-content: space-between;
    font-size: small;
    text-align: center;
    color: #d0d2d6;
}

.category-detail-column {
    width: 104px;
    text-align: center;
    padding-block: 4px;
    font-size: 16px;
    border-bottom: 1px solid rgb(106, 163, 68);
    color: #e8e8e8;
}

{/* .category-text-uppercase {
     text-transform: uppercase; 
 */}

.category-div-bottom {
    width: 612px;
    border-bottom: 2px solid rgb(106, 163, 68);
    margin-top: 20px;
    margin-bottom: 8px;
}

.category-select:hover {
    border-color:hsl(from rgb(179, 171, 184) h s 85%);
}

.category-div-detail {
    display: flex;
    border: 1px solid lightblue;
    border-bottom: none;
}

.white-text {
    color: white;
}

.off-white-text {
    color: #d0d2d6;
}

.recient-sellers {
    background-color: #6a5fdf;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;
}

.recient-format {
    width: 160px;
    min-width: 160px;
    height: 20px;
}

.category-add-title {
    Width: 396px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 21px;
}

#name {
    width: 100%;
    margin-top: 8px;
    margin-left: -4px;
    /* font-size: 16px; */
    height: 20px;
    border-radius: 5px;
}

.view-all-sellers {
    font-size: 16px;
    width: 64px;
    min-width: 64px;
    height: 20px;
}

#cat-add {
    display: none;
    margin-top: 1px;
}

#category-margin{
    margin-top: 0px;
}

@media all and (max-width: 900px) {
    #category-margin {
        margin-top: 66px;
        left: 208px;
    }
   #cat-add  {
     display: flex;
   }
}

/* 
@media (min-width: 800px) {
    #addCat {
        display: none;
    }
} */

/* @media (max-width: 900px){
.elementToHide{ 
   display: none;
   } 
} */