.header {
    width: 80%;
}

.admin-header {
  width: 100vw;
}

.right-anchored {
  position: absolute;
  right: -8px;
}

.left-anchored {
  position: absolute;
  left: 208px;
}

.left-free {
  left: 208px;
}

.left-sb-anchored {
  position: absolute;
  left: 5px;
  margin-top: 12px;
}

.hidden-right-anchored {
  position: absolute;
  right: -8px;
}

.hidden-left-anchored {
  position: absolute;
  left: 208px;
}

.div-user-info {
  display: flex;
  width: 200px;
  height: 20px;
  justify-content: right;
}

.h5-user-info {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: right;
}

.span-user-infoo {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: right;
}

.span-hide-text {
  display: none;
}

.span-show-text {
  display: block;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.show-text {
  content: " Hide sidebar";
} 

.hide-text {
  content: " Show sidebar";
}

.header-text {
  margin: 3px 2px 3px 14px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.user-info {
  display: flex; 
  justify-items: center;
  text-align: right;
}

.btn {
  height: 28px;
  width: 28px;
  margin: 5px;
  background-color: #e6e7fb;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.btn:hover {
  background-color: #00f;
  color: white;
}

.responsive-div {
   width: 80vw; 
   margin: 1% auto;      
}

.show-list-icon {
  margin-top: 4px;
  margin-left: -2px;
}

.div-inner-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height: 65px;
    background-color: #b1addf;
    margin: 8px;

}

.main-header-span {
    width: 200px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.xxxxheader {
  float: left;
  background: #efefef;
  background-repeat: no-repeat;
  width: 240px;
  height: 100px;
}

.xxxheader-right {
  overflow: hidden; 
  background-color: #000;
  height: 100px;
}