
@media screen and (min-width: 1024px) {
  .lg-header-screen {
    padding-left: 28px;
    padding-right: 28px;
  }

  .lg-header-bar {
    margin-left: 260px !important;
  }

  .lg-header-sidebar {
    display: hidden;
  }
}

.header-border-div {         
    position: fixed;
    top: 0px;
    left: 0px;
    width: 95.5%;
    padding-top: 20px;
    /* padding: 20px 8px 20px 8px; */
    /* z-index: 40; */
}

.header-div {
  margin-left: 0px;
  border-radius: 6px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #b1addf;
  padding-left: 20px;
  padding-right: 20px;
  transition: all;
}

.header-showSidebar {
  width: 35px;
  display: flex;
}
