h1 {
    margin-top: 80px;
    padding-right: 200px
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.home-image {
    width: 280px;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.home-image {
    display: flex;
    justify-self: left;
    align-items: center;
    margin-left: 24px;
    border-radius: 50px;
}

.sizeing {
    display: flex;
    margin-bottom: 1px;
    justify-content: center;
}

.admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 15px;
    object-fit: cover;
}

.admin-pic {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}

img.icon {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: -11px;
  margin-right: 2px;
  border-radius: 4px;
}