h1 {
    display: flex;
    padding-top: 150px;
    padding-left: 8px;
}

.sizeing {
    display: flex;
    margin-bottom: 1px;
    justify-content: center;
}

.admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 15px;
    object-fit: cover;
}

.admin-pic {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}

img.icon {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: -10px;
  margin-right: 2px;
  border-radius: 4px;
}