
/* #outer {width:100%; margin:0 auto;} */
#outer {display: flex; width: 100vw;}
#inner {overflow:hidden;}
#header {min-height:40px; background:#bbb}
#content {min-width: 100vw; min-height:100vh; float:right; background:lightblue}
#sidebar{width:260px; min-height:100vh; float:left; color:#ddd}

.parent_div_1, .parent_div_2, .parent_div_3 {
    display: flex;
    /* IF YOU WANT PARENT DIVS NEXT TO EACH OTHER */
    /*float: left;*/
}

div.main {
    background-color: #cdcae9;
    width: 100%;
    min-height: 100%;
}

div.outlet {
    margin-left: 100;
    padding-left: 260px;
    padding-top: 75px;
    transition: all;
}

h1 {
    margin-top: 120px;
    font-size: 25px;
    text-orientation: center;
    text-indent: 10px;
}



