.main-boarder-div {
  background-color: #cdcae9;
  width: 100%;
  min-height: 100%;
}

.main-outlet-div {
  margin-left: 0px;
  padding-top: 95px;
  transition: all;
}

@media screen and (min-width: 1024px) {
  .lg-outlet {
    margin-left: 260px;
  }
}








/* #outer {width:100%; margin:0 auto;} */
#outer {
  border: 2px solid black;
  display: flex;
  width: 97vw;
  max-width: 1275px;
  height: 100vh;
}
#inner {
  overflow:hidden;}
#header {
  min-height:40px; background:#bbb}
#content {
  min-width: 1133px; min-height:100vh; float:right; background:lightblue}
#sidebar {
  color:#ddd}
