.orders-table-bottom {
    width: 100%;
    text-align: center;
    color: #d0d2d6;
}


.bottom-table-wrap {
    position: relative;
    overflow-x: auto;
    border-radius: 5px;
}

.orders-bottom-table {
    width: 1039px;
    margin-left: 16px;
    text-align: center;
    color: #d0d2d6;
    border: 2px solid slategray;
    border-radius: 5px;
}

thead th {
    border-bottom: 3px solid rgb(247, 210, 142);
}

.orders-table-column {
    height: 20px;
    width: 16%;
    padding-inline: 3px;
    padding-block: 4px;
    font-size: 16px;
}

.orders-table-tr {
    padding-inline: 3px;
    padding-block: 4px;
    font-size: medium;
    white-space: nowrap;
}

.on-hover-row:hover {
    background-color:hsl(from rgb(179, 171, 184) h s 85%);
    width: 28px;
    height: 24px;;
    color: cornflowerblue;
    border-radius: 2px;
    cursor: pointer;
}

.no-hover-col {
    pointer-events: none;
    background-color: cornflowerblue;
}

.page-btn-ul {
    padding-right: 18px;
    margin-top: 14px;
}

.orders-div {
    display: flex;
    margin-right: 8px;
    padding-left: 10px;
    justify-content: space-between;
    font-size: small;
    text-align: center;
    color: #d0d2d6;
}

.orders-detail-column {
    width: 135px;
    text-align: center;
    padding-inline: 20px;
    padding-block: 4px;
    font-size: 16px;
    border-bottom: 1px solid rgb(106, 163, 68);
    color: #e8e8e8;
}

 .text-color {
    color: lightcoral;
    border-bottom: none;
 } 

.orders-order-detail {
    display: block;
    width: 1054px;
    padding-top: 4px;
    padding-left: 4px;
    background-color: #aaf;
    border-radius: 3px;
    border-bottom: 3px solid rgb(106, 163, 68);
    border-right: 3px solid rgb(106, 163, 68);
}

.hidden {
    display: none;
}

.orders-div-detail {
    display: flex;
    border: 1px solid lightblue;
    border-bottom: none;
}

.orders-text-uppercase {
    text-transform: uppercase;
}

.orders-div-bottom {
    width: 1048px;
    border-bottom: 2px solid rgb(106, 163, 68);
    margin-bottom: 8px;
    margin-left: 8px;
    padding-left: 8px;
}

.orders-div-wrap {
    position: relative;
    width: 1091px;
    overflow-x: auto;
    border-radius: 5px;
    margin-top: 16px;
}

.orders-div-container {
    padding: 8px 8px 8px 20px;
    background-color: cornflowerblue;
    height: auto;
    width: 1066px;
    margin-left: 21px;
    border-radius: 5px;
}

.orders-div-outer {
    /* border: 2px solid black; */
    /* margin-top: 7px; */
    width: 1064px;
    margin-left: -10px;
    padding: 8px 8px 8px 1px;
    border-radius: 5px;
    background-color: blue;
}

.orders-div-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 6px;
}

/* .orders-div-outer {
    width: 1090px;
    padding: 4px;
    background-color: #6a5fdf;
    border-radius: 5px;
    margin-top: 6px;;
} */

.orders-outer-div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 6px;
    border: 2px solid black;
}

.orders-inner-div {
    width: 100%;
    height: 42px;
    padding: 19px 0px 4px 8px;
    margin-left: 20px;
    background-color: #6a5fdf;
    border-radius: 5px;
    max-width: 1087px;
}

.orders-top-div {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.orders-select {
    align-items: center;
    width: 60px;
    height: 28px;
    background-color: #e7e7e7;
    outline: none;
    border-color: #555;
    border-width: 1px;
    border-radius: px;
    color: #154095;
    margin: 7px 0px 18px 16px;
}

.orders-select:hover {
    border-color:hsl(from rgb(179, 171, 184) h s 85%);
}

.orders-search {
    float: right;
    width: 168px;
    height: 22px;
    border-radius: 3px;
    border: 2px solid black;
    font-weight: 575;
    outline: none;
    background-color: #e7e7e7;
    color: #154095;
    margin: 8px 8px 18px 0px;
}

.orders-list-outer {
    position: relative;
    margin-top: 5px;
    overflow-x: auto;
}

.orders-list-mid {
    display: flex;
    flex-wrap: wrap;
    width: 1095px;
    min-width: 700px;
    margin-left: 26px;
    margin-top: 8px;
    font-size: small;
    text-align: left;
    border-radius: 5px;
    color: #d0d2d6;
    background-color: #6a5fdf;
}

.orders-text-head {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-size: small;
    color: #d0d2d6;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-color: rgb(80, 203, 255);
    background-color: #6a5fdf;
}

.orders-list-header {
    display: flex;
    width: 50%;
    height: 40px;
    font-weight: bold;
    align-items: center;
}