/* Paging css for orders list */

.page-btn-ul {
    display: flex;
    gap: 5px;
    justify-content: right;
    padding-right: 50px;
}

.page-btn-li {
    cursor: pointer;;
    list-style-type: none;
}

/* <li onClick={()=>setPageNumber(i)} className={` ${pageNumber === i ? 'bg-indigo-300 shadow-lg shadow-indigo-300/50 text-white' : 'bg-slate-600 hover:bg-indigo-400 shadow-lg hover:shadow-indigo-500/50 hover:text-white text-[#d0d2d6]'} w-[33px] h-[33px] rounded-full flex justify-center items-center cursor-pointer `}> */

/* w-[33px] h-[33px] rounded-full flex justify-center items-center cursor-pointer  */
.page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid darkblue;
    color: white;
}

/* className={` ${pageNumber === i ? 'bg-indigo-300 shadow-lg shadow-indigo-300/50 text-white' */
.page-btn-1 {
    background-color: blue;
    cursor: default;
}

/* 'bg-slate-600 hover:bg-indigo-400 shadow-lg hover:shadow-indigo-500/50 hover:text-white text-[#d0d2d6]' */
.page-btn-2 {
    background-color: lightblue;
 }

.page-btn-2:hover {
    background-color: #a9a9a9; 
    color: #d0d2d6;
    cursor: pointer;
}

.page-nav-btn {
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
    height: 18px;
    margin-right: 2px;
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
    color: black;
    box-shadow: 3px 3px #888, 2px 2px #888, 1px 1px #888;
    border: 1px solid #555;
}

.page-nav-btn:active {
    background-color: #888;
    box-shadow: 3px 3px #555;
    transform: translate(3px, 3px);
}

.inactive {
    color: gray;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
}

.page-btn-bg-color {
    background-color: lightskyblue;
    text-shadow: 2px 2px 4px skyblue;
    color: white;
}

.page-not-btn-bg-color {
    background-color: darkslategray;
    color: #d0d2d6;
    cursor: pointer;
}

/* .page-btn {
    display: flex;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
} */

.page-btn-bg-color:hover {
    background-color: #87ceeb;
    text-shadow: #65acc9;
    color: white;
}

.page-ul-return {
    gap: 3px;
    justify-items: right;
}

.page-ul-return li {
    list-style: none;
}

.page-pagination-btns {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.page-nav-group {
    display: flex;
    justify-content: right;
    padding-right: 13px;  
}
