
.registration-background {
    height: 100%; /* Ensures body and html cover the full viewport height */
    margin: 0;   /* Removes default body margins, eliminating white borders */
    padding: 0;
    background-image: url("../images/cover-backdrop.jpg"); /* Replace with your image path */
    background-position: center;   /* Centers the image in the viewport */
    background-repeat: no-repeat;  /* Prevents the image from tiling */
    background-size: cover;        /* Scales the image to cover the entire container while preserving aspect ratio */
    background-attachment: fixed;  /* Keeps the background image fixed when the page scrolls (optional, but a common choice) */
}

.outerDivStyle {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*.registration-form {
    align-self: center;
}*/

.welcome-container {
  display: grid;
}

.welcomeDivStyle {
    display: flex;
    height: 305px;
    width: 350px;
    background-color: #6f68d1;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    justify-content: left; 
}

.register-headers-text {
    display: flex;
    height: 5px;
    width: 345px;
    justify-content: center; 
}

.th-header-style {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #6f68d1;
    color: white;
}

.p-style {
    margin-top: 5px;
    margin-bottom:20px;
}

.table-style {
    align-content: left;
}

.tr-td {
    display: flex;
    width: 345px;
}

.tr-style {
    margin-left: 20px;
    vertical-align: middle;
}

.th-style {
    display: flex;
    width: 200px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}

.th-label-style { 
    display: flex;
    width: 250px;
    margin-left: 25px;
    padding-top: -20px;
    text-align: left;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container div-input[type="checkbox"] {
  margin-right: 10px; 
  flex-shrink: 0; 
}

.tr-input-style {
    margin-left: 18px;
    width: 300px;
    border-radius: 3px;
    border-width: 1px;
}

.tr-input {
    display: flex;
    margin-left: 1px;
    margin-bottom: 7px;
    border-radius: 3px;
}

.tr-checkbox-style {
    display: flex;
    margin-top: 7px;
    margin-left: 23px;
    margin-right: -17px;
    margin-bottom: 7px;
    border-radius: 3px;
}

.tr-label-style {
    margin-left: 2px;
    vertical-align: middle;
    text-align: left;
    border-radius: 3px;
}

.tr-button-style {
    display: flex;
    width: 80%;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.div-tr-button {
    display: flex;
    width: 345px;
    vertical-align: middle;
}

.register-button {
    display: flex;
    width: 345px;
    justify-content: center; 
}