@media screen and (min-width: 1024px) {
  .lg-screen {
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* style={{paddingLeft: '8px', paddingRight: '8px', paddingTop: '8px' */
.sellers-border-div {
  padding: 8px 8px 0px 8px;
}

/* w-full p-4 bg-[#6a5fdf] rounded-md */
.sellers-div2 {
  width: 100%;
  padding: 16px;
  background-color: #6a5fdf;
  border-radius: 6px;
}

/* flex justify-between items-center */
.sellers-div-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sellers-select {
  padding: 4px 4px 4px 16px;
  margin-top: 62px;
  background-color: #6a5fdf;
  border-color: rgb(100 116 139);
  border-radius: 6px;
  color: #d0d2d6;
  font-size: 16px;
}

.sellers-select:focus {
  border-color: #6366f1; /* hex for indigo-500 */
}

.sellers-input {
  padding: 4px 4px 4px 16px;
  margin-top: 62px;
  margin-right: 75px;
  outline: none;
  background-color: #6a5fdf;
  border-color: rgb(100 116 139);
  border-radius: 6px;

  font-size: 16px;
}

.sellers-input::placeholder {
  color: #d0d2d6;
}

.sellers-input:focus {
  border-color: #6366f1; /* hex for indigo-500 */
}