.sidebar-img {
  padding-top: 10px;
  padding-right: 10px;
}

.show-sidebarxx {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.div-sidebar {
  display: block;
  justify-items: center;
  width: 200px;
  height: 100vh;
  background-color: #e6e7fb;  
}

ul.menu-item {
  margin-left: -44px;
}

li.dash-back {
  height: 30px;
  width: 175px;
  border-radius: 3px;
  align-items: center;
  margin-left: 4px;
  margin-top: 12px;
}

/* li.dash-main {
  background-color: #00f;
} */

li.dash-sub {
  background-color: #e6e7fb;
}

li:active {
  background-color: #555;
  transform: scale(0.95);
}

li.dash-text-aliceblue {
  position: relative;
  /* -webkit-text-fill-color: aliceblue; */
}

.no-hover {
  background-color: #e6e7fb;
}

a::hover {
  background-color: #09062c;
}

#arrow i {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#arrow:hover i {
  left: 3px;
  top: 3px;
}

li.dash-text-black {
  position: relative;
  -webkit-text-fill-color: black;
}

.hover-mouse { 
  cursor: pointer;
 }

span:hover {
  background-color: #b1addf;
}

a:hover {
  background-color: #b1addf;
  padding-bottom: 7px;
}

.dash-link {
  display: flex;
  margin-top: -9px;
  padding-top: 5px;
}

.dash-icon { color: black; }

.dash-select {
  display: flex;
  margin-top: -9px;
  padding-top: 5px;
}

.logoff-boarder {
  width: 175;
  height: 30px;
  border: none;
  background-color: #e6e7fb;
}

.select-icon { 
  color: black; 
}

.span-logoff {
  margin-right: 9px;
}

.logoff-icon { 
  color: black; 
  padding-left: 5px;
  margin-right: 5px;

}

span.icon-span {
  display: inline-flex;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
}

span.hover-mouse {
  position: absolute;
  top: 6px;
  left: 27px;
}

