img {
  padding-top: 10px;
  padding-right: 10px;
}

.div-sidebar {
  justify-items: center;
  width: 200px;
  height: 100vh;
  background-color: #e6e7fb;  
}

div.menu-holder {
  justify-content: left;
}

ul.menu-item {
  margin-left: -44px;
}

li.dash-back {
  height: 30px;
  width: 175px;
  border-radius: 3px;
  align-items: center;
  margin-left: 4px;
  margin-top: 12px;
}

li.dash-main {
  background-color: #00f;
}

li.dash-sub {
  background-color: #e6e7fb;
}

li.dash-text-aliceblue {
  position: relative;
  -webkit-text-fill-color: aliceblue;
}

li.dash-text-black {
  position: relative;
  -webkit-text-fill-color: black;
}

li:hover { cursor:pointer }

.dash-link {
  display: flex;
  margin-top: -9px;
  padding-top: 5px;
}

.dash-icon { color: white; }

.dash-select {
  display: flex;
  margin-top: -9px;
  padding-top: 5px;
}

.select-icon { 
  background-color: #e6e7fb;
  color: black; 
}

span.icon-span {
  display: inline-flex;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
}

span.hover-mouse {
  position: absolute;
  top: 6px;
  left: 27px;
}

